// COLORS
$red: #900;
$light-red: rgb(207, 30, 30);
$off-white:rgb(239, 239, 239);
$lighter-grey: rgb(223, 221, 221);
$light-grey: rgb(146, 145, 145);
$dark-grey: rgb(118, 118, 118);
$darker-grey: rgb(54, 54, 54);
$dark-green: rgb(62, 165, 79);
$light-green: rgb(181, 255, 174);
$vivid-green: rgb(1, 150, 1);
$turquise: rgb(66, 158, 201);
$white: white;

// BLOO THEME
$red: #900;
$light-red: rgb(207, 30, 30);
$off-white:rgb(182, 220, 252);
$lighter-grey: rgb(120, 157, 187);
$light-grey: rgb(146, 145, 145);
$dark-grey: rgb(109, 150, 184);
$darker-grey: rgb(54, 54, 54);
$dark-green: rgb(62, 165, 79);
$light-blue: rgb(41, 126, 182);
$vivid-green: rgb(1, 150, 1);
$turquise: rgb(5, 89, 167);
$white: rgb(196, 226, 250);
$black: rgb(30, 31, 32);

// DARK THEME
$red: #900; // error msg
$light-red: rgb(207, 30, 30); //delete X
$off-white:rgb(63, 63, 63); // button
$lighter-grey: rgb(66, 66, 66); // divider
$light-grey: rgb(104, 104, 104); // description
$dark-grey: rgb(121, 119, 119); // button outlines
$darker-grey: rgb(82, 81, 81); // Logout
$dark-green: rgb(62, 165, 79); // check-hover
$light-blue: rgb(41, 126, 182); // link-hover
$vivid-green: rgb(1, 150, 1); // success msg
$turquise: rgb(128, 149, 168); //unused
$white: rgb(46, 46, 46); // background
$black: rgb(240, 239, 239); // text