// COLORS
$red: #900;
$light-red: rgb(207, 30, 30);
$off-white:rgb(239, 239, 239);
$lighter-grey: rgb(223, 221, 221);
$light-grey: rgb(146, 145, 145);
$dark-grey: rgb(118, 118, 118);
$darker-grey: rgb(54, 54, 54);
$dark-green: rgb(62, 165, 79);
$light-green: rgb(181, 255, 174);
$vivid-green: rgb(1, 150, 1);
$turquise: rgb(66, 158, 201);