@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Rubik', 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 100vh;
    background: linear-gradient(to top, #a7d6fc 0%,#c9e9ff 100%);
    background: $white;
    color: $black;

    .update h1 {
        margin-bottom: 40px;
    }

    &.login {
        height: 100vh;
    }
}

main {
    margin: 100px 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin: 40px;
    text-align: center;
    font-weight: 600;
}

.btn  {
    display: block;
    text-align: center;
    padding: 5px;   
    width: 100%;
    background-color: $off-white;
    border: 1px solid $dark-grey;
    border-radius: 4px;
    font-size: inherit;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: rgb(56, 56, 56);
        border-color: $dark-green;
        border-color:$darker-grey;
        color: inherit;
    }
}

a {
    text-decoration: none;
    color: inherit;  
}

a:hover, .log-link:hover, .fa-pencil-alt:hover {
        color: $light-blue;
}


input, textarea, button, select {
    border-radius: 5px;
    border: 1px solid $dark-grey;
    padding: 4px;
    color: inherit;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.create input, .create textarea, .create button, .create select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.create textarea {
    height: 150px;
}

.fa-times {
    font-size: 22px;
    color: $black;

    &:hover {
        color: $light-red;
    }
}

.small {
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.del {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.finnished {
    @include finnished(text);
}

.finnished_btn {
    @include finnished(button);
}


.item {
    display: grid;
    grid-template-columns: 150px 200px 150px repeat(3, 55px);
    grid-gap: 5px;
    margin-bottom: 10px;

    .desc {
        color: $light-grey;
    }

    a {
        height: max-content;
    }
}


.divider {
    border-bottom: 1px solid $lighter-grey;
    display: block; 
}

input.checkbox {
    position: relative;
    cursor: pointer;
    width: 2%;
}

/* check-symbol checked */
input[type="checkbox"]:checked::before {
    position: absolute;
    display: block;
    content: "";
    top: 1px;
    left: 4px;
    width: 6px;
    height: 10px;
    border-bottom: 3px solid $black;
    border-right: 3px solid $black;
    transform: rotate(45deg);
    opacity: 1; 
    z-index: 4;
}

/* checkbox - the box */
input[type="checkbox"]::after {
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    left: -2px;
    width: 19px;
    height: 19px;
    background-color: $off-white;
    border: 1px solid $dark-grey;
    border-radius: 50%;
    opacity: 1; 
    z-index: 2;
}

/* checkbox - mouseover the box */
input[type="checkbox"]:hover::after {
    border-color: $dark-green;

}

input[type="checkbox"]:checked::after {
    background-color: $white;
    border-color: $darker-grey;

}

/* checkbox - tabfocus on the box */
input[type="checkbox"]:focus::after {
    border-color: rgb(0, 0, 0);
    border-width: 1.5px;
}

form.login {
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

input, input::placeholder, textarea {
    width: 100%;
    background-color: $off-white;
    color: $black;
}

input[type="submit"] {
    background-color: rgb(43, 42, 42);
    border-color: rgb(85, 85, 85);
    color: rgb(214, 214, 214);
}

.log-link {
    cursor: pointer;
    color: $dark-grey;
}

.error {
    margin-top: 20px;
    padding: 10px;
    color: $red;
    border-radius: 5px;
}

.success {
    color: $vivid-green;
}

.logout-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.links-container {
    display: flex;
    justify-content: space-around;
}

.fa-tasks {
    font-size: 2.8rem;
    padding: 1px;
}

.user  {
    color: $dark-grey;

    .fa-user {
        font-size: 1rem;
    }
}



.overdue {
    color: $red;
}

@media only screen  and (max-width: 700px) {

    main {
        padding:  15px;
    }

    .item {
        grid-template-columns: 1fr 2fr 1fr repeat(3, 40px);
        grid-gap: 3px;
    }

}
